@media screen and (max-width: 800px) {
	body {
		display: block !important;
		margin: 200px 0px 0px 0px !important;
	}

	header {
		height: unset !important;
		flex-direction: column;
		background-color: var(--background);
	}

	header .main {
		height: 165px !important;
	}

	header div {
		flex-direction: column;
	}

	header .search input {
		width: 100% !important;
	}

	header .links {
		flex-direction: row;
	}

	sidebar {
		width: unset !important;
		height: unset !important;
		position: unset !important;
		left: unset !important;
		top: unset !important;
	}

	sidebar .fade {
		margin-top: -40px !important;
	}

	sidebar h4 {
		font-size: unset !important;
	}

	sidebar img {
		max-width: 30vw !important;
	}

	main {
		padding: 0 !important;
	}

	main .banner {
		padding: 40px 50px !important;
	}

	main.error .content {
		padding: 15vw;
	}

	main.loginSignup form {
		grid-template-columns: auto !important;
		min-width: unset !important;
	}

	main.account .buttons {
		flex-direction: column !important;
	}

	main.account .buttons a button {
		margin-bottom: unset;
	}

	main.post .postcontent .info {
		flex-direction: column !important;
	}

	main.post .postcontent .info img {
		margin: 0 0 10px 0 !important;
	}

	main.post .postcontent .info .inner {
		width: unset !important;
	}

	main.post .postcontent .comments .comment {
		flex-direction: column !important;
	}

	main.post .postcontent .comments .comment img {
		margin: 0 0 10px 0 !important;
	}

	main.post .postcontent .comments .comment a {
		width: unset !important;
	}
}

:root {
	--primary: #1f4d3d;
	--text: #404040;
	--background: #ffffff;
}

::-webkit-scrollbar {
	width: 0px;
}

html {
	background-color: var(--background);
	color: var(--text);
	font-family: Montserrat, sans-serif;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

* {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	scrollbar-width: none;
}

button,
a,
input[type="submit"] {
	transition: 0.5s;
}

a {
	text-decoration: none;
	color: var(--text);
	transition: 0.5s;
}

a:hover {
	opacity: 0.75;
	color: var(--theme);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	font-weight: bold;
}

header.collapsed .main {
	height: 50px !important;
}

header .announcement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    padding: 10px;
    border: 1px solid;
    position: fixed;
    top: 45px;
    left: -75px;
    rotate: -38deg;
    background-color: var(--text);
	z-index: 100;
}

header .announcement a {
	color: var(--background);
}

header .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 75%;
    padding: 50px 0 20px 0;
    border-bottom: 1px solid lightgray;
}

header .main a {
	padding: 10px;
}

header .main a img {
	height: 50px;
	padding-right: 10px;
}

header .main .links {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

header .main .search {
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
    height: 32px;
	z-index: 100;
}

header .main .search img {
    height: 25px;
	rotate: 90deg;
	cursor: pointer;
}

header .main .search form {
	margin: 0;
	display: none;
}

header .main .search.active form {
	display: block;
}

header .main .search form input {
	width: 15vw;
	border-radius: 5px;
	border: 2px solid var(--text);
	background-color: var(--background);
	color: var(--text);
	padding: 6px 10px;
	transition: 0.5s;
}

header .main .search form input:hover,
header .main .search form input:focus {
	width: 20vw;
	transition: 0.5s;
}

header .main .search form input::placeholder {
	color: var(--text);
}

.hero {
	display: grid;
	grid-template-columns: 1.3fr 0.7fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: ". side";
	width: 75%;
	height: 30vw;
	gap: 20px;
	padding: 20px 0;
}

.side {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"."
		".";
	grid-area: side;
	gap: 20px;
}

.hero .newspaper {
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}

.hero .newspaper:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 25%;
	transition: 0.5s;
}

.hero .newspaper:hover:before {
	opacity: 0%;
}

.hero .newspaper div {
	position: absolute;
	bottom: 40px;
	left: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	color: var(--background);
}

.hero .newspaper div h2 {
	font-size: 24px;
	margin: 0;
}

.hero .newspaper div h4 {
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
}

.articles {
	display: flex;
	flex-direction: column;
    align-items: center;
    gap: 20px;
	width: 100%;
	background-color: #F7F7F7;
    padding: 50px 0;
}

.articles h2 {
	width: 75%;
	font-size: 36px;
    margin: 0;
}

.articles hr {
	width: 80px;
	height: 2px;
	background: var(--theme);
	border: none;
    margin-left: calc(25% / 2);
}

.articles .grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 40px;
	grid-auto-flow: row;
	grid-template-areas: ". . .";
	width: 75%;
}

.articles .grid .article {
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	background-size: contain;
	border-bottom: 4px solid #ECECEC;
	transition: 0.25s;
	padding-top: 150px;
}

.articles .grid .article:hover {
	border-bottom-color: var(--theme);
}

.articles .grid .article:hover a {
	opacity: 0.75;
	transition: 0.5s;
}

.articles .grid .article .inner {
	background-color: var(--background);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
}

.articles .grid .article .inner h3 {
	font-size: 24px;
    margin: 0;
}

.articles .grid .article .inner h4 {
	font-size: 14px;
    margin: 0;
}

.articles .grid .article .inner p {
	font-size: 12px;
	text-transform: uppercase;
	color: #9A9A9A;
    margin: 0;
}

.articles .grid .article .inner p a {
	color: #313131;
}

.banner {
    width: 90vw;
    padding: 5vw;
    background-size: cover;
    background-position-y: center;
    color: var(--background);
}

.banner i {
	font-size: 48px;
}

.article-i {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	gap: 40px;
    padding: 60px 40px;
	width: 75%;
    max-width: 1200px;
}

.article-i .split {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.article-i .split .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.article-i .split .left .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-i .split .left .info h1 {
	font-weight: bold;
	margin: 0;
}

.article-i .split .left .info h3 {
	width: 50%;
	margin: 0;
}

.article-i .split .left .author {
    display: flex;
    align-items: center;
    gap: 20px;
}

.article-i .split .left .author img {
    border-radius: 100%;
}

.article-i .split .left .author .info {
	gap: 5px;
}

.article-i .split .left .author .info * {
    margin: 0;
}

.article-i .split .right .icons i {
    cursor: pointer;
}

.article-i .images {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.article-i .image {
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.article-i .image:first-of-type {
    height: 60vh;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

.article-i .content:before {
	font-weight: bold;
}

.article-i .content * {
	margin: 10px 0;
}

.article-i .content b {
    font-weight: bold;
}

.article-i .content b * {
    font-weight: bold;
}

.article-i .content a {
    text-decoration: underline;
}

.article-i object {
    height: 100vh;
}

footer {
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position-y: center;
    padding-top: 125px;
}

footer .inner {
    background-color: #1A1A1A;
    color: var(--background);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
}

footer .inner .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
	width: 75%;
	padding-bottom: 60px;
	border-bottom: 1px solid #5E5E5E;
}

footer .inner .top img {
	height: 50px;
	filter: brightness(5);
}

footer .inner .top .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

footer .inner .top .links a {
	color: var(--background);
}

footer .inner .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
	width: 75%;
	color: var(--text);
	font-size: 12px;
}

footer .inner .bottom a {
	color: var(--text);
}
