<html>

<head>
	<%- include('../partials/head.html'); %>
</head>

<body>
	<%- include('../partials/header.html'); %>
	<%- include('../partials/sidebar.html'); %>
	<main class="forum<% if (user.name) { %> <%- user.school.cssColorClass %><% } %>">
		<% if (user.name) { %>
		<div class="banner schoolBackground">
			<img src="<%- vars.domain %>/images/<%=(typeof user.school.logoUrl != 'undefined' )? user.school.logoUrl:''%>" />
			<h1>Forum Posts</h1>
			<h3>Having trouble with homework? Send a post here for others to answer your questions! Click New Post for more info!</h3>
		</div>
		<% } else { %>
		<div class="banner" style="background-color: white;">
			<img src="<%- vars.domain %>/images/vschsd-logo.png" />
			<h1 style="color: black;">Forum Posts</h1>
			<h3 style="color: black;">Having trouble with homework? Send a post here for others to answer your questions! Click New Post for more info!</h3>
		</div>
		<% } %>
		<div class="content">
			<h3>All Posts</h3>
			<a href="<%- vars.domain %>/forum/posts/new"><button><i class="fa-solid fa-pen-to-square"></i> New Post</button></a>
			<div class="posts">
				<%- posts %>
			</div>
			<% if (posts != "No posts yet.") { %><a href="<%- vars.domain %>/forum/posts/new"><button><i class="fa-solid fa-pen-to-square"></i> New Post</button></a><% } %>
		</div>
		<%- include('../partials/footer.html'); %>
	</main>
</body>
<%- include('../partials/foot.html'); %>

</html>