<html>

<head>
	<%- include('../partials/head.html'); %>
</head>

<body>
	<%- include('../partials/header.html'); %>
	<%- include('../partials/sidebar.html'); %>
	<main class="postCreator">
		<h1>New Comment</h1>
		<h3>
			<% if (((typeof alert !='undefined' )? alert:'') != '') { %><i class="fa-solid fa-circle-exclamation"></i> <%- alert %><% } %>
		</h3>
		<form action="/forum/comments/new?post=<%- post %>" method="post">
			<textarea type="textarea" id="content" name="content" placeholder="Type your reply..." required></textarea>
			<label for="images">Attach an image (Optional):</label>
			<input type="file" id="imagename" name="imagename" accept=".jpg, .jpeg, .png, .apng, .bmp, .gif, .jpeg, .pjpeg, .png, .svg+xml, .tiff, .webp, .x-icon" />
			<img id="preview" />
			<input type="hidden" id="image" name="image" />
			<input type="submit" value="Reply">
		</form>
		<%- include('../partials/footer.html'); %>
	</main>
</body>
<%- include('../partials/foot.html'); %>

</html>