<html>

<head>
	<%- include('../partials/head.html'); %>
</head>

<body>
	<%- include('../partials/header.html'); %>
	<%- include('../partials/sidebar.html'); %>
	<main class="postCreator">
		<h1>New Post</h1>
		<h3>
			<%=(typeof alert !='undefined' )? alert:''%>
		</h3>
		<form action="/forum/posts/new" method="post">
			<input type="text" id="name" name="name" placeholder="Hello, class..." required>
			<textarea type="textarea" id="description" name="description" placeholder="This is where you explain your problem..." required></textarea>
			<label for="tags">Topic:</label>
			<select name="tags" id="tags" required>
				<%- tagList %>
			</select>
			<label for="images">Attach an image (Optional):</label>
			<input type="file" id="imagename" name="imagename" accept=".jpg, .jpeg, .png, .apng, .bmp, .gif, .jpeg, .pjpeg, .png, .svg+xml, .tiff, .webp, .x-icon" />
			<img id="preview" />
			<input type="hidden" id="image" name="image" />
			<input type="submit" value="Publish">
		</form>
	</main>
	<%- include('../partials/footer.html'); %>
</body>
<%- include('../partials/foot.html'); %>

</html>