<html>

<head>
	<%- include('../partials/head.html'); %>
</head>

<body>
	<%- include('../partials/header.html'); %>
	<%- include('../partials/sidebar.html'); %>
	<main class="post<% if (user.name) { %> loggedin <%- user.school.cssColorClass %><% } %>">
		<div class="split">
			<div class="postcontent">
				<% if (alert != "") { %><div class="alert"><%- alert %></div><% } %>
				<div class="content">
					<h1><%- title %><% if (pinned) { %> <i class="fa-solid fa-thumbtack"></i><% } %><% if (imagename) { %> <i class="fa-solid fa-image"></i><% } %></h1>
					<div class="info">
						<a href="<%- vars.domain %>/users/<%- authorUsername %>"><img src="<%- pfp %>" class="pfp" /></a>
						<div class="inner">
							<a href="<%- vars.domain %>/users/<%- authorUsername %>"><h4><%- author %> <i class="fa-solid fa-<%- badge.icon %>" alt="<%- badge.name %>"></i> <i class="fa-solid fa-at"></i></h4></a>
							<h6><%- date %></h6>
							<p><%- description %></p>
							<h4>Topic: <%- tags %></h4>
							<% if (imagename) { %><img src="<%- image %>" alt="<%- imagename %>" /><% } %>
							<% if ((user.badge) && ((user.badge.slug === "admin") || (user.badge.slug === "moderator") || (username === user.username))) { %>
							<div class="modactions">Post Actions: <a href="<%- vars.domain %>/forum/posts/<%- slug %>/delete"><i class="fa-solid fa-trash"></i> Delete <% if (user.badge.slug === "admin") { %><% if (!pinned) { %><a href="<%- vars.domain %>/forum/posts/<%- slug %>/pin"><i class="fa-solid fa-thumbtack"></i> Pin</a><% } else { %><a href="<%- vars.domain %>/forum/posts/<%- slug %>/unpin"><i class="fa-solid fa-thumbtack"></i> Unpin</a><% } %><% } %></div>
							<% } %>
						</div>
					</div>
					<a href="<%- vars.domain %>/forum/comments/new?post=<%- id %>"><button><i class="fa-solid fa-plus"></i> New Comment</button></a>
					<div class="comments">
						<%- comments %>
					</div>
					<% if (comments != "No comments yet.") { %><a href="<%- vars.domain %>/forum/comments/new?post=<%- id %>"><button><i class="fa-solid fa-plus"></i> New Comment</button></a><% } %>
				</div>
			</div>
			<div class="postsidebar">
				Announcements:<br />
				<div class="box">
					Welcome to the VSCHSD Student Forum. This is a great place to post any questions about homework. Do note that this forum is moderated by admins and mods, please limit all profanity. Thank you.
				</div>
				<div class="box">
					<h3>About the Author</h3>
					<%- authorAbout %>
				</div>
			</div>
		</div>
		<%- include('../partials/footer.html'); %>
	</main>
</body>
<%- include('../partials/foot.html'); %>

</html>