<html>

<head>
	<%- include('../partials/head.html'); %>
</head>

<body>
	<%- include('../partials/header.html'); %>
	<%- include('../partials/sidebar.html'); %>
	<main class="forum<% if (user.name) { %> <%- user.school.cssColorClass %><% } %>">
		<% if (user.name) { %>
		<div class="banner schoolBackground">
			<i class="fa-solid fa-<%- icon %>"></i>
			<h1><%- longtitle %></h1>
			<h3><%- description %></h3>
		</div>
		<% } else { %>
		<div class="banner" style="background-color: white;">
			<i class="fa-solid fa-<%- icon %>" style="color: black;"></i>
			<h1 style="color: black;"><%- longtitle %></h1>
			<h3 style="color: black;"><%- description %></h3>
		</div>
		<% } %>
		<div class="content">
			<h3>All Posts</h3>
			<a href="/forum/posts/new"><button><i class="fa-solid fa-pen-to-square"></i> New Post</button></a>
			<div class="posts">
				<%- posts %>
			</div>
			<% if (posts != "No Posts") { %><a href="/forum/posts/new"><button><i class="fa-solid fa-pen-to-square"></i> New Post</button></a><% } %>
		</div>
		<%- include('../partials/footer.html'); %>
	</main>
</body>
<%- include('../partials/foot.html'); %>

</html>