<footer>
    <br /><hr /><br />
    Made with <i class="fa-solid fa-wand-sparkles"></i>, <i class="fa-brands fa-node-js"></i> Node.js, <i class="fa-brands fa-html5"></i> HTML, <i class="fa-brands fa-css3"></i> CSS, <i class="fa-brands fa-js"></i> JS, <i class="fa-solid fa-code"></i> EJS<br />
    <i class="fa-solid fa-terminal"></i> Brian Singh & Faisal Nageer<br />
    <i class="fa-solid fa-server"></i> <i class="fa-solid fa-database"></i> <i class="fa-solid fa-cloud"></i> <a href="https://dangoweb.com/">Free Web Hosting</a><br />
</footer>