<div class="prepreheader"></div>
<div class="preheader<% if (user.name) { %> <%- user.school.cssColorClass %><% } %>"></div>
<header<% if (user.name) { %> class="<%- user.school.cssColorClass %>Mobile" <% } %>>
	<div class="announcement<% if (user.name) { %> <%- user.school.cssColorClass %><% } %>">
		<%- session.announcement %>
	</div>
	<div class="main">
		<div class="left">
			<div class="logo">
				<i class="sidebarToggle fa-solid fa-bars" onclick="toggleSidebar()"></i>
				<a href="<%- vars.domain %>">
					<img src="<%- vars.domain %>/images/logo.png" alt="logo"> <%- vars.siteName %>
				</a>
			</div>
			<div class="links">
				<%- vars.tagListHTMLHeader %>
			</div>
		</div>
		<div class="right">
			<form class="search" action="/search">
				<input type="text" placeholder="Search" name="query">
			</form>
			<div class="user">
				<a href="<%- vars.domain %>/account?redirect=<%- vars.url %>">
					<% if (user.name) { %><img class="rounded" src="<% if (user.pfp) {%><%- user.pfp %><% } else { %><%- vars.domain %>/images/<%- user.school.logoUrl %><% } %>" />&nbsp;&nbsp;<%= user.name.first %> <%= user.name.last %><% } else { %><i class="fa-regular fa-circle-user"></i> Account<% } %>
				</a>
				<% if (user.name) { %>
				<a href="<%- vars.domain %>/logout">
					<i class="fa-solid fa-arrow-right-from-bracket"></i>
				</a>
				<% } %>
			</div>
		</div>
	</div>
</header>