<sidebar <% if (user.name) { %>class="loggedin" style="background-image:url('<%- vars.domain %>/images/<%- user.school.bannerUrl %>')"<% } %>>
	<% if (user.name) { %>
	<div class="fade"></div>
	<div class="image">
		<img class="main <%- user.school.cssColorClass %>Border" src="<%- vars.domain %>/images/<%- user.school.logoUrl %>" />
		<img class="icon <%- user.school.cssColorClass %>Border" src="<%- vars.domain %>/images/<%- user.school.logoUrl %>" />
	</div>
	<h6><%- user.name.first %> <%- user.name.last %> <i class="fa-solid fa-<%- user.badge.icon %>"></i></h6>
	<% } else { %>
	<div class="image">
		<img src="<%- vars.domain %>/images/vschsd-logo.png" />
	</div>
	<h6>Student Forum</h6>
	<p>Join our community to find new friends & get free homework help from students in your district!</p>
	<a href="<%- vars.domain %>/login"><button class="fill">Sign In</button></a>
	<% } %>
	<div class="buttons">
		<a href="<%- vars.domain %>/"><button class="transparent"><i class="fa-solid fa-home"></i> Home</button></a>
		<a href="<%- vars.domain %>/forum"><button class="transparent"><i class="fa-solid fa-comments"></i> Forum</button></a>
		<a href="<%- vars.domain %>/forum/topics"><button class="transparent"><i class="fa-solid fa-tags"></i> Topics</button></a>
		<%- vars.tagListHTMLSidebar %>
		<a href="<%- vars.domain %>/account"><button class="transparent"><i class="fa-solid fa-user"></i> Account</button></a>
	</div>
</sidebar>