<% cms.siteDetails[0].socials.sort((a, b) => a._o - b._o); for (item of cms.siteDetails[0].socials.filter(item => { return item.active })) { %>
<a href="<%= item.url %>" title="<%= item.title %>"><i class="fa-brands fa-<%= item.data.icon %>"></i></a>
<% } %>